black
cyvcf2
duckdb
Django
django-oauth-toolkit
django-cors-headers
django-filter
django-guardian
djangorestframework
drf-yasg
fastparquet
pandas
pyarrow
PyJWT
pytz
gunicorn
requests
tomli
whitenoise
